In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from xml.dom import minidom
import csv 
import xml.etree.ElementTree as ET
import os
import xmltodict 
import json

In [4]:
#import tsv file from SIDER
drug_names = pd.read_csv ("/Users/sangeetajayakar/Springboard_Course/Files_for_second_capstone/drug_names.tsv", sep = '\t', header=None)
drug_names.head(10)

              0                         1
0  CID100000085                 carnitine
1  CID100000119        gamma-aminobutyric
2  CID100000137          5-aminolevulinic
3  CID100000143                leucovorin
4  CID100000146  5-methyltetrahydrofolate
5  CID100000158                      PGE2
6  CID100000159              prostacyclin
7  CID100000160             prostaglandin
8  CID100000175                   acetate
9  CID100000187             acetylcholine

In [5]:
drug_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1430 entries, 0 to 1429
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1430 non-null   object
 1   1       1430 non-null   object
dtypes: object(2)
memory usage: 22.5+ KB

In [6]:
#import tsv file from SIDER
drug_atc = pd.read_csv ("/Users/sangeetajayakar/Springboard_Course/Files_for_second_capstone/drug_atc.tsv", sep = '\t', header=None)
drug_atc.head(10)

              0        1
0  CID100000085  A16AA01
1  CID100000119  L03AA03
2  CID100000119  N03AG03
3  CID100000137  L01XD04
4  CID100000143  V03AF03
5  CID100000143  V03AF04
6  CID100000143  V03AF06
7  CID100000158  G02AD02
8  CID100000159  B01AC09
9  CID100000160  G02AD01

In [7]:
drug_atc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1560 non-null   object
 1   1       1560 non-null   object
dtypes: object(2)
memory usage: 24.5+ KB